/* fot home */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@300&family=Raleway:wght@200&display=swap');
/* for headings */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap'); 

:root{
    --headingFont: 'Prata', serif;
    --homeFont: 'Inter', sans-serif;
    --noMargin: 0 0;
    --textColor: #ADADAD;
    --secBackground: #2E3038;
}

*{
    margin: 0 30px;
    padding: 0;
    box-sizing: border-box;
    background-color: #0A0A0B;
}

nav{
    font-family: var(--homeFont);
    background-color: #0A0A0B;
    height: 25vh;
}
.navName{
    font-family: var(--headingFont);
    color: #CDCDCD;
    display: inline-block;
    position: absolute;
    top: 4rem;
    font-size: 17px;
    font-weight: 600;
}

.navLinks div{
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.navLinks{
    color: var(--textColor);
    display: inline-block;
    position: relative;
    top: 4rem;
    left: 24rem;
    font-size: 19px;
    cursor: default;
    user-select: none;
}

.navBtn{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 37px;
}

.btnMain{
    background-color: #FBE850;
    padding: 20px;
    border: none;
    height: 55px;
    width: 10rem;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

.mainContent{
    color: white;
}

.mainHeading{
    margin: var(--noMargin);
}

.mainHeading h1{
    font-size: 55px;
    font-weight: 100;
    font-family: var(--headingFont);
}

.mainHeading h1:nth-of-type(2){
    margin-bottom: 10px;
}

.mainHeading p:nth-of-type(2),p:nth-of-type(3){
    margin-top: 10px;
}

.mainHeading p{
    font-size: 18px;
    font-family: var(--homeFont);   
    color: var(--textColor);
}

.companyNames{
    margin: 75px 0;
    user-select: none;
}

.companyNames img{
    margin: 0 43px;
}

.companyNames img:nth-of-type(6){
    margin-right: 0;
}

.mainPhotos{
    display: inline-block;
    margin: var(--noMargin);
}

.mainPhotos div{
    display: inherit;
    margin: var(--noMargin);
}

.mainPhotos div:nth-of-type(2){
    display: inherit;
    margin: 0 0 0 5rem;
}

.mainPhotos img{
    margin: var(--noMargin);
}

.photo1 h1,.photo2 h1{
    margin: 20px 0;
    font-family: var(--headingFont);
    font-size: 32px;
    font-weight: 100;
}

.photo1 p , .photo2 p{
    color: var(--textColor);
    font-family: var(--homeFont);
    font-size: 15px;
    margin: var(--noMargin);
}

.moreContent{
    margin: 3rem 0;
    padding: 10px;
    background-color: var(--secBackground);
    display: inline-block;
}

.mcMargin{
    margin: 3rem 0;
}

.moreDivs-1{
    color: white;
    background-color: var(--secBackground);
    display: inherit;
}

.moreDivs-1 h1{
    background-color: inherit;
    font-size: 35px;
    font-weight: 300;
    font-family: var(--headingFont);
}

.moreDivs-1 p,.moreDivs-2 p{
    background-color: var(--secBackground);
    color: var(--textColor);
    font-family: var(--homeFont);
    font-size: 16px;
}

.moreDivs-1 p:nth-of-type(1){
    margin-top: 15px;
}
.moreDivs-1 p:nth-of-type(3){
    margin-top: 0;
}
.moreDivs-1 p:nth-of-type(5){
    margin-top: 20px;
}

.moreDivs-2{
    margin: var(--noMargin);
    background-color: var(--secBackground);
    display: inherit;
}

.moreDivs-2 b{
    margin: 0 0;
    background-color: var(--secBackground);
}

.moreDivs-2 p:nth-of-type(3){
    margin: 20px 30px;
}

.moreDivs-2 p:nth-of-type(8){
    margin-top: 30px;
}